.number {
  font-size: 50px;
}
.btn {
  padding: 0;
  width: 150px;
  height: 40px;
  background-color: #1480fb;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(0.9);
}
